<div class="card-columns">
  <div class="card bg-dark text-white p-3 mx-1">
    <blockquote class="card-bodyquote">
      <p>
        Marie Curie won the Nobel prize for Physics in 1903 and 1911
      </p>
      <footer>
        <small>
          French-Polish physicist
          <cite title="Source Title"> - Marie Curie</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card bg-dark text-white p-3 mx-1">
    <blockquote class="card-bodyquote">
      <p>
        Linus Pauling won the Nobel prize in 1954 (Chemistry) and 1962 (Peace)
      </p>
      <footer>
        <small>
          American chemical engineer
          <cite title="Source Title"> - Linus Pauling</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card bg-dark text-white p-3 mx-1">
    <blockquote class="card-bodyquote">
      <p>
        John Bardeen for Physics in 1956 and 1972
      </p>
      <footer>
        <small>
          American physicist
          <cite title="Source Title"> - John Bardeen</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card bg-dark text-white p-3 mx-1">
    <blockquote class="card-bodyquote">
      <p>
        Frederick Sanger for Chemistry in 1958 and 1980
      </p>
      <footer>
        <small>
          British biochemist
          <cite title="Source Title"> - Frederick Sanger</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
